<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <!--spring-mvc配置文件-->

    <!--1.注解扫描-->
    <context:component-scan base-package="com.imlty.controller"/>

    <!--2.注解增强()直接返回jason-->
    <mvc:annotation-driven/>

    <!--3.配置一个视图解析器:基于前后端分离的可以不用配置-->

    <!--4.静态资源扫描-->
    <mvc:default-servlet-handler/>

    <!--5.文件解析器配置-->
    <!--id固定-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1048576"/>
    </bean>
</beans>